body{
  background-image: url("../images/outside.jpg");
  background-repeat: no-repeat;
  background-size:cover;
   font-family: arial;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:green;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.main{
   display:flex;
   box-sizing: content-box;
   box-shadow: 2px 2px 2px 2px rgb(170, 168, 168); 
   width:70%;
   margin-left: 300px;
   background-color: #767474;
   justify-content: center;
   align-items: center;
   color: black;
  
  
   
}
.text p{
    color: black;
}
.text p{
    font-weight: 300;
    font-size: 20px;
    color:#fff;
    margin-top: 50px;

}
.box{
    box-shadow: 3px 3px 3px 3px rgb(161, 240, 86);
    width:300px;
    height:200px;
    align-items: center;
    text-align: center;
    margin: 20px;
    background-color: #80636387;
    color:#fff;
}
svg{
    margin-bottom: 10px;
}
.choose{ 
    display:flex;
    align-items: center;
    justify-content: center
}
h1{
    text-align: center;
    background-color: #fff;
    width:50%;
    margin: 0 auto;  
    margin-top:10px;  
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color:#fff;

    bottom:0;
    width:100%;
}
@media only screen and (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }
}
img {
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
}
@media screen and (max-width:576px){
    .main{
        display: block;
        width:80%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .choose{
        display: block;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        width: 80%;
    }
}






















































